body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #white;
}

h1 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: green;
    padding-left: 10px;
    margin: 4vh 4vw;
    width: 90%;
  }

h2 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 40%;
    margin: 10vh 10vw;
    width: 30%;
  }

/* HOMEpage styles */

div.row {
  text-align:center;
  margin-top: 5%;
  margin-bottom: 5%;
}


a span.middle {
  border-radius: 50%;
  width: 37%;
  display: none;
  position: absolute;
  left: 31.5%;
  top: 0;
  bottom: 0;
  background: rgb(62, 151, 240);
  color: #ddd;
}

a span.tnb {
  border-radius: 50%;
  width: 28%;
  display: none;
  position: absolute;
  left: 36%;
  top: 0;
  bottom: 0;
  background: rgb(62, 151, 240);
  color: #ddd;
}

a:hover span {
  display:block ;
}

p.footer {
  text-align: center;
}

p.tagline {
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

/*Travel styles*/

.travel_intro {
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 5vh 5vw;
  width: auto;
}

.travel_video {
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 10vh 10vw;
  width: 580px;
  height: 360px;

  position: relative;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto;
}

.travel_links {
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 10vh 5vw;
  width: auto;
}

.travel_pledge {
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 10vh 5vw;
  width: auto;
}

.column_travel {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row_travel:after {
  content: "";
  display: table;
  clear: both;
}
